<main>
    <section>Ceкцiя</section>
    <section>Ceкцiя</section>
    <section>Ceкцiя</section>
    <section>Ceкцiя</section>
    <section>Ceкцiя</section>
    <section>Ceкцiя</section>    
    <button id="buttonScroll">
        <img src="/svg/scroll__top.svg">
    </button>
</main>